.tabbable {
	position:relative;
	padding:20px;
	margin:20px;
    width: 500px;
}

.articleTitle {
  padding:5px 100px 0 100px;
}

#quote {
    margin: 10px 20px;
    background-color: #eee;
    padding: 10px;
    border: 2px dashed #777;
}

#source {
    margin-bottom: 20px;
}